* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #779be7, #49b6ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 500px;
}

.container {
    width: 80%;
    padding: 30px 0px;
    margin-top: 50px;
    background-color: rgba(219, 213, 181, 0.4);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    font-family: 'Audiowide', cursive;
}

#menuScreen {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    color: orange;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
    gap: 25px;
}

#menuBtn {
    position: absolute;
    display: none;
}

#backToMenuBtn {
    display: flex;
    width: 50px;
    position: relative;
    cursor: pointer;
    margin: 10px 0px 0px 10px;
}

.MenuScreenGameDiv {
    display: flex;
    padding: 4px;
    flex-direction: column;
    gap: 10px;
    color: rgb(41, 60, 102);
    border: 2px solid rgb(70, 95, 148);
    background-color: rgb(121, 156, 231);
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: none;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    font-size: 15px;
}

#buttons input {
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    border: 3px solid rgba(0, 0, 0, 0.6)
}